<configuration>
    <property name="APP_NAME" value="base-service"/>
    <contextName>${APP_NAME}</contextName>
    <!-- 通用appender 配置 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [ %thread ] [%X{traceId}] - [ %-5level ] [ %logger{50} : %line ] - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>


    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="com.mysql.jdbc" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.redisson.command" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.redisson.connection" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>

    <logger name="org.redisson.cluster" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.apache.http" level="INFO" additivity="false">
        <appender-ref ref="stdout"/>
    </logger>

    <!-- 配置异常日志 -->
    <appender name="exceptionAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_NAME}-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_NAME}-error-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>180</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>30MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [ %thread ] [%X{traceId}] - [ %-5level ] [ %logger{50} : %line ] - %msg%n</pattern>
        </layout>
    </appender>
    <logger name="exceptionLogger" level="ALL" additivity="false">
        <appender-ref ref="exceptionAppender"/>
        <appender-ref ref="stdout"/>
    </logger>
    <!-- 配置访问日志 -->
    <appender name="accessLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_NAME}-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${APP_NAME}-access-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <MaxHistory>180</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%msg%n</pattern>
        </layout>
    </appender>

    <appender name="asynAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="accessLogAppender"/>
    </appender>
    <logger name="accessLogger" level="ALL" additivity="false">
        <appender-ref ref="asynAppender"/>
        <appender-ref ref="stdout"/>
    </logger>


</configuration>